global
#   log 127.0.0.1   local0
#   log 127.0.0.1   local1 notice
    #log loghost    local0 info
    maxconn         10000
    ulimit-n        65536
    #chroot /usr/share/haproxy
    user haproxy
    group haproxy
    daemon
    #debug
    #quiet
    stats socket /var/tmp/haproxy.stats level admin

defaults
#   log global
    mode    http
#   option  httplog
    option  dontlognull
    option http-server-close
    retries 3
    option redispatch
    maxconn 2000
    contimeout  5000
    clitimeout  50000
    srvtimeout  50000

# HAProxy's stats
listen stats
    bind 10.10.10.10:8888
    stats enable
    stats hide-version
    stats uri     /
    stats realm   HAProxy\ Statistics
    stats auth    admin:password

# main frontend dedicated to end users
frontend ft_web
    mode http
    reqidel ^X-Real-IP:
    bind 10.10.1.10:80
    bind 10.10.2.10:80
    acl static-url url_beg /upload/
    use_backend bk_static if static-url
    default_backend bk_appsrv

# frontend dedicated to beta users
frontend ft_beta
    mode http
    reqidel ^X-Real-IP:
    bind 10.10.1.10:8088
    bind 10.10.2.10:8088
    acl static-url url_beg /upload/
    use_backend bk_static if static-url
    default_backend bk_appsrv_beta

backend bk_appsrv
    mode http
    option http-server-close
    option forwardfor header X-Real-IP
#    option httpchk HEAD /checkurl/ HTTP/1.0
    balance roundrobin
    server s01 10.10.10.11:8080 cookie s01 check maxconn 250
    server s02 10.10.10.12:8080 cookie s02 check maxconn 250

backend bk_appsrv_beta
    mode http
    option http-server-close
    option forwardfor header X-Real-IP
    option httpchk HEAD /mamabang/ HTTP/1.0
    balance roundrobin
#   server s01 10.10.10.11:8080 cookie s01 check maxconn 250
#   server s02 10.10.10.12:8080 cookie s02 check maxconn 250

backend bk_static
    mode http
    option http-server-close
    option forwardfor header X-Real-IP
#    option httpchk HEAD /upload/edevfdzh/head/head_62187h120-3.jpg
    balance roundrobin
    server n01 10.10.10.11:8000 check maxconn 1000
#   server n02 10.10.10.12:8000 check maxconn 1000
